/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #ef1923, #ffb822);
}
.game {
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #e6a535,#6a4401 );
}

.title {
  position: absolute;
  top: 200px;
  font-size: 100px;
  font-weight: 800;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#spin_the_wheel {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

#wheel {
  display: block;
}

#spin {
  font: 1.5em/0 "Lato", sans-serif;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  margin: -15%;
  background: #fff;
  color: #fff;
  font-size: 40px;
  box-shadow: 0 0 0 8px red, 0 0px 15px 5px red;
  border-radius: 50%;
  transition: 0.8s;
}

#spin::after {
  content: "";
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: red;
  border-top: none;
  color: rgba(255, 0, 0, 1);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#result-container {
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(to left, #f1131e, #ffb822); */
  background: linear-gradient(#d6b274, #c38e32);
  color: white;
  width: 400px;
  height: auto;
  padding: 20px;
  border: solid 4px #a5782a;
  box-shadow: 0 0px 15px 5px rgb(255, 255, 255);
  border-radius: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.congrats {
  
  color: white;
}

#close {
  top: 10%;
  right: 2%;
  border-radius: 8px;
  /* position: absolute;   */
  padding: 4px 6px;
  cursor: pointer;
}

#results-wrapper {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

#result {
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 10px;
  font-weight: bold;
  /* color: black; */
}

.logo {
  position: absolute;
  z-index: 1;
  /* border-radius: 100%; */
  width: 200px;
}
.spin-button {
  position: absolute;
  z-index: 1;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  background: radial-gradient(rgb(125, 0, 0), red);

  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.inventory-container {
  z-index: 1;
  display: none;
  position: fixed;
  top: 70px;
  right: 0;
  margin-right: 20px;
  /* transform: translateX(-50%); */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.inventory-container h2 {
  margin: 0 0 15px 0;
  color: #333;
  font-family: "Lato", sans-serif;
}

.inventory-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.inventory-item {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  color: #333;
}

.reset-button {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ff5a10;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #ff4500;
}
